
<head>
<link href="./resource/css/bootstrap.css" rel="stylesheet">

</head>

<body>
	<toast></toast>
	<div class="container chat-wrapper">
		<form id="do-chat">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class='container2'>
						<div>
							<img src='resource/img/hotmart-logo.png' class='iconDetails'>
						</div>
						<div style='margin-left: 60px;'>
							<h4>HotChating with {{vm.receiver.firstName}}
								{{vm.receiver.lastName}}</h4>
						</div>
					</div>
				</div>
				<div class="panel-body">

					<div  style="overflow-y:scroll" class="panel panel-success"
						ng-repeat="hotMessage in vm.hotMessages">
						<div class="panel-heading">
							<h3 class="panel-title">
								{{hotMessage.senderFirstLastName}} <span class='smaller'>{{hotMessage.received}}</span>
							</h3>
						</div>
						<div class="panel-body">{{hotMessage.message}}</div>
					</div>

					<fieldset>
						<legend><h4>Enter your message..</h4></legend>
						<div class="controls">
							<input type="text" ng-model="vm.message"
								class="input-block-level" placeholder="Your message..."
								id="message" style="height: 60px" /> <input type="submit"
								ng-click="vm.sendMessage()"
								class="btn btn-lg btn-success" value="Send message" />
							<button ng-click="vm.leaveRoom()" class="btn btn-lg btn-warning"
								type="button" id="leave-room">Leave room</button>
						</div>
					</fieldset>
				</div>
			</div>
		</form>
	</div>
</body>


